/*Registration form style*/
.registration-form-container{
    width: 40%;
    display: flex;
    justify-content: center;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.94);
    border-radius: 7px;
}

.registration-form-container h1{
    background: linear-gradient(90deg, rgba(255,0,0,1) 18%, rgba(0,255,8,1) 48%, rgba(10,14,201,1) 87%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
