/*Registration form style*/
.registration-form-container {
    width: 40%;
    display: flex;
    justify-content: center;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.96);
    border-radius: 7px;
}

.registration-form-container h1 {
    background: linear-gradient(90deg, rgba(255, 0, 0, 1) 18%, rgba(0, 255, 8, 1) 48%, rgba(10, 14, 201, 1) 87%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 2.5rem 0;
}

.registration-form-container > div:first-of-type {
    margin-bottom: 3rem;
    text-align: center;
}

.registration-form-container legend {
    margin-bottom: 0.5rem;
}

/*Style for inputs*/
.first-name-container, .last-name-container, .email-container, .username-container, .password-container, .password-confirmation-container {
    margin-bottom: 2rem;
}

.first-name-container label, .last-name-container label, .email-container label, .username-container label, .password-container label, .password-confirmation-container label, .terms-and-conditions-container label {
    background: linear-gradient(90deg, rgba(0, 39, 255, 1) 34%, rgba(0, 1, 255, 1) 48%, rgba(201, 10, 88, 1) 87%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.1rem;
}

.first-name, .last-name, .email, .username, .password, .password-confirmation {
    border: 1px solid transparent;
    border-image: linear-gradient(90deg, rgba(255, 0, 0, 1) 28%, rgba(0, 164, 255, 1) 48%, rgba(189, 10, 201, 1) 87%);
    border-image-slice: 1;
    outline: none;
    padding: 15px 15px;
    font-size: 1rem;
    color: #0000d8;
    font-family: 'Montserrat', sans-serif;
}

.first-name-container input::placeholder, .last-name-container input::placeholder, .email input::placeholder, .username input::placeholder, .password input::placeholder, .password-confirmation-container input::placeholder {
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
}

/*Style for errors*/
.error {
    color: red;
}

.first-name-error, .last-name-error, .email-error, .username-error, .password-error, .password-confirmation-error {
    border: 1px solid red;
    outline: none;
    padding: 15px 15px;
    font-size: 1rem;
    color: #0000d8;
    font-family: 'Montserrat', sans-serif;
}

.terms-and-conditions-error {
    color: red;
}

/*Style for next step button and send button*/
.next-step-button-container button, .send-button-container button {
    padding: 15px 60px;
    text-transform: uppercase;
    background-color: #13b7c5;
    color: white;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
    outline: none;
    border: none;
    border-radius: 20px;
    cursor: pointer;

}

.next-step-button-container button:hover, .send-button-container button:hover {
    background-color: #2381ba;
    transition: 0.3s ease;
}

.next-step-button-container button:disabled, .send-button-container button:disabled {
    background-color: #beb8b8;
    cursor: not-allowed;
}

/*Style for terms and condition span*/
.terms-and-conditions-container span {
    margin-right: 10px;
}

