/*Basic style*/
html, body, #root, .app {
    height: 100%;
    padding: 0;
    margin: 0;
}

/*App style*/
.app {
    background-image: url('../public/images/monkey.jpg');
    background-repeat: repeat;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
